<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>NexTix - Modern Event Ticketing</title>

  <link rel="icon" type="image/png" href="{% static 'images/fav.png' %}" />

  <!-- Google Fonts: Outfit & Inter are imported in style.css -->
  <!-- Bootstrap CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <!-- FontAwesome -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
  
  <!-- Custom Coastal Glassmorphism Styles -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>